
.rectangle
{
    width: max-content;
    height: max-content;
    background: #E1E5EA;}
#intro_id
{
    background-color: black;
}
#intro_id h2
{
    font-size: 2.8rem;
    line-height: 1.5;
    padding: 2%;
}
.intro
{
    margin-top:8%;
}
.button_Contact
{
    font-size: 1.5rem;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 2%;
}
.text_name
{
    font-size: 2.8rem;
}
.line
{
    margin-top: 5px;
    width: 550px;
    height: 4px;
    background-color: black;
}