
.navbar
{
    border-bottom: black solid 5px;
    font-size: 1.3rem;
}

.rectangle
{
    width: max-content;
    height: max-content;
    background: #E1E5EA;}
#intro_id
{
    background-color: black;
}
#intro_id h2
{
    font-size: 2.8rem;
    line-height: 1.5;
    padding: 2%;
}
.intro
{
    margin-top:8%;
}
.button_Contact
{
    font-size: 1.5rem;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 2%;
}
.text_name
{
    font-size: 2.8rem;
}
.line
{
    margin-top: 5px;
    width: 550px;
    height: 4px;
    background-color: black;
}
.team-margin
{
    padding-right: 620px;
    font-weight: bolder;
    font-size: 1.5rem;
}

/* Counter-in-website */

.counter {
    background-color:#f5f5f5;
    padding: 3%;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

/* ////////////////////////// ABOUT HIMSELF SECTION ////////////////////////// */
.main-himself
{
    background-color: black;
    color: white;
}



/* ////////////////////////// VW TEAM SECTION ////////////////////////// */
.main-vwTeam
{
    background-color: black;
    padding: 5%;
    color: white;
    
}

.team-card
{
    background-color:black ;
    color: white;
    padding: 5%;
}
.border-card-dsn
{
    border-left: #f5f5f5 solid 1px;
    border-right: #f5f5f5 solid 1px;
}

/* ///////////////////////////// TEXT ANIMATION ///////////////////////////// */
.ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }
/* //////////////////// contact-us-main //////////////////// */
  .contact-us-main
  {
    background-color: black;
    color: white;
  }

/* ////////////////////////// MEDIA QUERIES SECTION ////////////////////////// */

/* Media Queries */
@media only screen and (max-width: 600px) {
   /* This layout is for Phones */
    body #intro_id h2
    {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    body #aboutHimself_id img
    {
        width: 150%;
    }
    body .line
    {
        margin-top: 2px;
        width: 55px;
        height: 4px;
        background-color: black;
    }
    .team-margin
    {
        padding-right: 40px;
        font-weight: bolder;
        font-size: 1.3rem;
    }

    .border-card-dsn
    {
        border-left: 0cm;
        border-right: 0cm;
        border-bottom: #f5f5f5 solid 1px;
        border-top:#f5f5f5 solid 1px;
    }

  }
  @media only screen and (device-width: 768px) {
    /* For general iPad layouts */

    .team-margin
    {
        padding-right: 250px;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    .border-card-dsn
    {
        border-left:0cm;
        border-right:0cm;
        border-top: #f5f5f5 solid 1px;
        border-bottom: #f5f5f5 solid 1px;
      
    }

  }
  @media only screen and (device-width: 1024px) {
    /* For medium size laptops */
    .team-margin
    {
        padding-right: 370px;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    
  }

  /* Footer CSS*/

@media (max-width: 768px) {
    .social {
      padding: 0px !important;
      padding-top: 12px !important;
    }
  }
  
  .fa {
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .footer-app-name {
    color: rgb(202, 46, 163);
  }
  .footer-app-name:hover {
    text-decoration: none;
    color: rgb(119, 14, 93);
  }
  
  .footerlink:hover,
  .footer-copyright-link:hover {
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .explorefooter {
      width: 50% !important;
      text-align: center;
    }
  }
  